<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper light-green">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{{''|link}}">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </nav>
</div>